// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// /* Styled By Zapbuild*/
html{height:100%;}
body{font-family: 'Raleway', sans-serif !important; height:100%;}
.navbar-default .navbar-brand {
    color: #5bbc2e;
	font-weight:500;
	font-size:35px;
}

//homepage parallax design css

#intro {
	background: image-url("art5.jpg") 50% 0 fixed; 
	height: auto; 
	margin: -18px auto 0; 
	width: 100%; 
	position: relative; 
	padding: 200px 0;
	
	@media screen and (max-width: 640px) {
		padding: 100px 0;
		}
	}
#about {
	/*--background: url(home1.JPG) 50% 0 fixed; */
	height: auto; 
	margin: 0 auto; 
	width: 100%; 
	position: relative; 
	padding: 200px 0; 
@media screen and (max-width: 640px) {padding: 100px 0;}
}
#books {
	background: image-url("home.jpg") 50% 0 fixed; 
	height: auto;
	margin: 0 auto; 
	width: 100%; 
	position: relative; 
	padding: 150px 0;
	color: #fff;
@media screen and (max-width: 640px) {padding: 100px 0;}
}
.transparent-bg{
	background:rgba(255,255,255,0.7);
@media screen and (max-width: 640px) {
h1, .h1 {font-size: 30px;}
}
}     
.books { 
	background: image-url("book-bg.jpg") no-repeat 50% 0 fixed; 
	background-size:cover; 
	margin:-18px 0 0; 
	padding:100px 0; 
	min-height:100%;
	}
// bottom boxes css
.books-boxes {
	min-height: 300px;
	position: relative;
	overflow:hidden;
	color:#fff;
	border:2px solid #5bbc2e;
	.caption {
		position:absolute;
		height:100%;
		width:100%;
		top:0px;
		left:0px;
		transition:top 0.2s ease-out 0s;
		/*background:rgba(7, 7, 22, 0.7);*/
		background:rgba(255, 255, 255, 0.9);
		text-align:center;
		color:#484848;
		font-size:25px;
		 padding: 30px 10px;
		h5, .h5, a{
			font-size:22px; 
			color:#5bbc2e;
		}
	}
	&:hover .caption {
		display: block;
		top:-100%;
	}
}
//colors
$color_green: #5bbc2e;
$color_black: #494949;
$white: #fff;

.transparent-bg , .jumbotron{
	h1 {
		color: $color_green;
	}
	h2 {
		color: $color_green;
	}
	p {
		color: $color_black;
	}
}
.service-btn {
	background: $color_green none repeat scroll 0 0;
	border: 1px solid $color_green;
	color: $white;
	&:hover {
		background: $white none repeat scroll 0 0;
		border: 1px solid $color_green;
		color: $color_green;
	}
}
.signup-btn {
	background: $color_green none repeat scroll 0 0;
	border: 1px solid $color_green;
	color: $white;
	&:hover {
		background: $white none repeat scroll 0 0;
		border: 1px solid $color_green;
		color: $color_green;
	}
}
.about-pg {
	padding: 100px 0 !important;
}	
